body {
    background-color: #f8f9fa;
}

.navbar {
    margin-bottom: 20px;
}

table {
    margin-top: 20px;
}

h1, h2 {
    margin-top: 20px;
    font-weight: bold;
}

.btn {
    margin-right: 5px;
}
